/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.wrapper {
    margin: 0 1em 2em 1em;
}

/* control block */

.app_control_group {
    background-color: #ccc;
    padding: .5em;
}

.app_control_group div{
    display: inline-block;
}

.plus_button {
    background-color: green;
}

.minus_button {
    background-color: red;
}

.edit_button {
    background-color: orange;
}

.show_button {
    background-color: blue;
}

.category {
    font-size: 16px;
}

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*****************/

.app_table_header {
    text-align: center;
    padding: .2em;
    padding-bottom: .5em;
    border-bottom: 1px solid gray;
    background-color: #eee;
    margin: 0;
}

.app_control_group {
    margin-top: 10px;
}

.app_table {
    padding: .7em;
    background-color: #e5e5e5;
}

.app_table_row {
    display:block;
}

.app_table_row p {
    display:inline-block;
}

.app_product_table_header {
    display: inline-block;
}

.app_product_table_header {
    border: 1px solid black;
    padding: .25em;
    background-color: #eee;
}

.app_categories_list {
    float: left;
}

.app_products_list {
    float: right;
}

.sub_category {
    margin-left: 30px;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
  transform: rotate(90deg);  
}

.category_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.category_nested {
    display: none;
}

.category_active {
    display: block;
}
