.wrapper
  .app_categories_list
    %h1.app_table_header Категории
    .app_categories_container

      = nested_categories @categories.arrange(:order => :created_at)

    .app_control_group
      = cat_new_button
  .app_products_list
    %h1.app_table_header Товары
    %table
      %tr
        %th Категория
        %th ID
        %th Название
        %th Производитель
        %th Цена
        %th Управление
      - @products.each do |product|
        %tr
          %td
            = Category.find(product.category_id).title
          %td
            = product.id
          %td
            = product.title
          %td
            = product.manufacturer
          %td
            = product.price
          %td
            = prod_edit_button(product.id)
            = prod_delete_button(product.id)
    .app_control_group
      = prod_new_button
